body {
    padding: 0;
    margin: 0;
    background: white;
}

table {
    border-spacing: 0;
}

td {
    padding: 2px 1px;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

#top {
    overflow: hidden;
    position: relative;
    background: lightblue;
    top: 0;
    width: 100%;
    z-index: 1;
}

#shipsList {
    position: relative;
    width: 100%;
}

nav {
    background-color: lightblue;
    cursor: pointer;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative;
}

nav ul li {
    display:inline-block;
    background-color: lightblue;
}

nav a {
    display: block;
    padding: 0 10px;
    color: black;
    font-size: 16px;
    line-height: 32px;
    text-decoration: none;
}

nav a:hover {
    background-color: deepskyblue;
    cursor: pointer;
}

nav a:active {
    background-color: deepskyblue;
    cursor: pointer;
}

nav span {
    display: block;
    padding: 0 10px;
    color: black;
    font-size: 16px;
    line-height: 32px;
    text-decoration: none;
}

nav span:hover {
    background-color: deepskyblue;
    cursor: pointer;
}

nav span:active {
    background-color: deepskyblue;
    cursor: pointer;
}

.dropdown_main {
    text-align: left;
    display: none;
    position: absolute;
}

.dropdown_main li {
    width:130px;
    float:none;
    display:list-item;
    position: relative;
}

.dropdown_sub {
    display: none;
    position: absolute;
    top: 32px; /* the height of the main nav */
}

nav ul li:hover > ul {
    display: block;
    cursor: pointer;
}

nav ul li:active > ul {
    display: block;
    cursor: pointer;
}

.dropdown_main li:hover > .dropdown_main {
    display:inherit;
    cursor: pointer;
}

.dropdown_main li:active > .dropdown_main {
    display:inherit;
    cursor: pointer;
}

.dropdown_main li:hover > .dropdown_sub {
    display:inherit;
    cursor: pointer;
}

.dropdown_main li:active > .dropdown_sub {
    display:inherit;
    cursor: pointer;
}

.dropdown_main .dropdown_main li {
    left: 130px;
    top:-32px;
    width:130px;
    float:none;
    display:list-item;
    position: relative;
}

.dropdown_main .dropdown_sub li {
    left: 130px;
    top:-32px;
    width:200px;
    float:none;
    display:list-item;
    position: relative;
}

#main {
    padding: 10px;
}

.ship {
    text-align: center;
}

.panel_left div, .panel_right div {
    vertical-align: top;
    display: inline-block;
}

.hide {
    display: none;
}

.upgrades div
{
    display: inline-block;
    vertical-align: top;
}

.info_box {
    text-align: center;
    margin: auto;
    border: 0;
    vertical-align: top;
    padding: 0 0 100px;
}

.left_tabs, .right_tabs {
    display: table-cell;
    vertical-align: top;
}

.left_info_box, .right_info_box {
    background-color:#fff;
    text-decoration:none;
    color:inherit;
    opacity:1;
    text-align:center;
    border-color:rgb(210,210,210);
    border-width:1px;
    border-style:solid;
    border-radius:5px;
    display: block;
    padding: 0 2px;
    margin: 0 1px;
    cursor: pointer;
    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;
}

.button_tab {
    background-color:#fff;
    margin:1px;
    text-align:center;
    border-color:rgb(210,210,210);
    border-width:1px;
    border-style:solid;
    border-radius:5px;
    max-width: 130px;
    padding: 9px 15px;
    cursor: pointer;
}

.button_ship,
.button_module, .button_upgrade,
.button_skill, .button_uSkill,
.button_flag, .button_consumable {
    background-color:#fff;
    text-align: center;
    border-color: rgb(0,0,0);
    border-width: 0;
    border-style: solid;
    border-radius: 5px;
    font-size: 9px;
    width: 70px;
    height: 70px;
    word-wrap: normal;
    cursor: pointer;
    vertical-align: top;
    padding: 2px;
    margin: 1px;
}

.button_module {
    width: 90px;
    height: 90px;
}

button img {
    width: 45px;
}

/*.button_module.select img {*/
    /*width: 40px;*/
    /*margin-bottom: 0;*/
/*}*/

/*.button_ship img {*/
    /*width: 70px;*/
    /*margin-bottom: 0;*/
/*}*/

/*.button_upgrade img {*/
    /*width: 30px;*/
    /*margin-bottom: 0;*/
/*}*/

/*.button_skill img {*/
    /*width: 20px;*/
    /*margin-bottom: 0;*/
/*}*/

.button_uSkill img {
    width: 25px;
    margin-bottom: 0;
}

.button_flag img {
    width: 25px;
    margin-bottom: 0;
}

/*.button_consumable img {*/
    /*width: 40px;*/
    /*margin-bottom: 0;*/
/*}*/

.select {
    border-width:1px;
    border-color: rgb(256,0,0);
}

.inner_info {
    display: inline-table;
    vertical-align: top;
}