<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
            new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-5KDG7W6');</script>
    <!-- End Google Tag Manager -->
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <meta charset="utf-8" />
    <link rel="icon" href="https://cdn.wowsft.com/images/Icon/WoWSFT_Icon.png" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/WoWSFT.css?20190816}" />
    <meta name="viewport" content="width=device-width, initial-scale=0.5, user-scalable=yes" />
    <script src="https://cdn.wowsft.com/js/jquery/jquery-3.3.1.min.js"></script>
    <title>WoWS Fitting Tool by Aesis</title>
</head>
<body>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5KDG7W6"
                  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
<header>
    <div class="top">
        <div th:replace="top :: top"></div>
    </div>
</header>
<main>
    <div class="research_nation">
        <button class="button_nation initiate" th:each="nation : ${nations}" th:if="${nation.value.entrySet().?[!key.contains('PREMIUM') and !key.contains('TEST')].size() > 0}" th:attr="data-nation=${nation.key}">
            <img th:src="${'https://cdn.wowsft.com/images/nation_flags/small/flag_' + nation.key + '.png'}"/><br />
            <span th:text="${global.get(IDS + nation.key.toUpperCase())}"></span>
        </button>
    </div>
    <div class="research_list">
        <strong id="xpText">XP calculation</strong><br /><br />
        <table th:each="nation : ${nations}" th:if="${nation.value.entrySet().?[!key.contains('PREMIUM') and !key.contains('TEST')].size() > 0}" th:class="${'tree ' + nation.key}" th:classappend="'hide'">
            <tbody>
                <tr th:each="realShipType : ${nation.value}" th:if="${realShipType.value.containsKey(realShipType.key)}">
                    <th:block th:each="shipType : ${realShipType.value}">
                        <td th:each="i : ${#numbers.sequence(1, 10)}">
                            <th:block th:each="ship : ${shipType.value.get(i)}" th:if="${shipType.value.get(i) != null}">
                                <button class="button_ship"
                                        th:attr="data-tier=${i}, data-position=${ship.position}, data-type=${shipType.key}, data-ship-index=${ship.index}, data-ship-xp=${ship.costXP},
                                            data-prev-index=${ship.prevShipIndex}, data-prev-ship-xp=${ship.prevShipXP}, data-prev-ship-comp-xp=${ship.prevShipCompXP}">
                                    <img th:attr="data-src=${'https://cdn.wowsft.com/images/vehicles/ship_previews/' + ship.index + '.png'}" /><br/>
                                    <span th:text="${global.get(IDS + ship.index.toUpperCase() + '_FULL')}"></span>
                                </button><br th:if="${shipStat.index > 0}"/>
                            </th:block>
                            <th:block th:if="${shipType.value.get(i) == null}">
                                <button class="button_ship"></button>
                            </th:block>
                        </td>
                    </th:block>
                </tr>
            </tbody>
        </table>
    </div>
</main>
<div th:replace="bottom :: bottom"></div>
<script th:inline="javascript">
    //    <![CDATA[

    $(function () {
        document.addEventListener("touchstart", function() {},false);
    });

    $(document).on('click', '.button_nation.initiate', function () {
        var $this = $(this),
            $nation = $this.attr('data-nation'),
            $tree = $('.tree'),
            $table = $('.tree.' + $nation),
            $img = $table.find('img');

        $('.button_nation.initiate').removeClass('select');
        $this.addClass('select');

        $('.button_ship').removeClass('select');

        for (var i = 0; i < $img.length; i++) {
            if ($img.eq(i).attr('src') === undefined) {
                $img.eq(i).attr('src', $img.eq(i).attr('data-src'));
            }
        }

        $tree.addClass('hide');
        $table.removeClass('hide');
    });

    $(document).on('click', '.button_ship', function () {
        var $this = $(this),
            $bShipSelect = $('.button_ship.select'),
            $text = $('#xpText');

        var calc = 0;

        if ($this.hasClass('select')) {
            $this.removeClass('select');
            return;
        }

        if ($bShipSelect.length > 1) {
            $bShipSelect.removeClass('select');
        }
        $this.addClass('select');

        $bShipSelect = $('.button_ship.select');
        if ($bShipSelect.length === 2) {
            var $first = $bShipSelect.eq(0);
            var $temp = $bShipSelect.eq(1);
            var $second;

            if (parseInt($temp.attr('data-tier')) < parseInt($first.attr('data-tier'))) {
                $second = $first;
                $first = $temp;
            } else {
                $second = $temp;
            }

            if ($first.attr('data-tier') === $second.attr('data-tier')) {
                if ($first.attr('data-prev-index') === $second.attr('data-ship-index')) {
                    calc = parseInt($first.attr('data-prev-ship-xp')) + parseInt($first.attr('data-prev-ship-comp-xp')) + parseInt($first.attr('data-ship-xp'));
                } else if ($second.attr('data-prev-index') === $first.attr('data-ship-index')) {
                    calc = parseInt($second.attr('data-prev-ship-xp')) + parseInt($second.attr('data-prev-ship-comp-xp')) + parseInt($second.attr('data-ship-xp'));
                } else {
                    $text.text('Unknown');
                    return false;
                }
                $text.text(calc.toLocaleString() + ' XP');
            } else {
                var curTier = parseInt($second.attr('data-tier'));
                var endTier = parseInt($first.attr('data-tier'));
                var endIndex = $first.attr('data-ship-index');
                var $prev = $second;
                var match = false;

                while (curTier >= endTier && curTier > 0) {
                    var prevShipIndex = $prev.attr('data-ship-index');
                    if (prevShipIndex !== endIndex && prevShipIndex !== undefined) {
                        calc = calc + parseInt($prev.attr('data-ship-xp')) + parseInt($prev.attr('data-prev-ship-comp-xp'));
                        $prev = $('[data-ship-index=' + $prev.attr('data-prev-index') + ']');
                        curTier = $prev.attr('data-tier');
                    } else {
                        match = true;
                        break;
                    }
                }
                if (match) {
                    $text.text(calc.toLocaleString() + ' XP');
                } else {
                    $text.text('Unknown');
                }
            }
        }
    });

    //    ]]>
</script>
</body>
</html>