<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
            new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-5KDG7W6');</script>
    <!-- End Google Tag Manager -->
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <meta charset="utf-8" />
    <link rel="icon" href="https://cdn.wowsft.com/images/Icon/WoWSFT_Icon.png" />
    <link rel="stylesheet" type="text/css" href="https://cdn.wowsft.com/css/wowsft.css?20190816" />
    <link rel="stylesheet" type="text/css" href="https://cdn.wowsft.com/css/misc.css?20191224" />
    <meta name="viewport" content="width=device-width, initial-scale=0.5, user-scalable=yes" />
    <script src="https://cdn.wowsft.com/js/jquery/jquery-3.3.1.min.js"></script>
    <title>WoWS Fitting Tool</title>
</head>
<body>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5KDG7W6"
                  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
<div class="head">
    <div class="top">
        <div th:replace="top :: top"></div>
        <div class="shipsList link">
            <nav>
                <ul>
                    <th:block th:each="nation : ${nations}">
                        <li>
                            <span th:text="${global.get(IDS + nation.key.toUpperCase())}"></span>
                            <ul class="dropdown_main">
                                <li th:each="realShipType : ${nation.value}">
                                    <span th:text="${global.get(IDS + realShipType.key)}"></span>
                                    <ul class="dropdown_sub" th:if="${realShipType.value.get(realShipType.key) != null}">
                                        <th:block th:each="shipType : ${realShipType.value}">
                                            <th:block th:each="tier : ${shipType.value}">
                                                <li th:each="ship : ${tier.value}">
                                                    <a th:href="'/ship?index=' + ${ship.index}">
                                                        <span th:text="${tier.key + ' - ' + global.get(IDS + ship.index.toUpperCase() + '_FULL')}"
                                                              th:attr="data-nation=${nation.key}, data-shipType=${realShipType.key}, data-ship=${ship.index}"></span>
                                                    </a>
                                                </li>
                                            </th:block>
                                        </th:block>
                                    </ul>
                                    <ul class="dropdown_main" th:unless="${realShipType.value.get(realShipType.key) != null}">
                                        <li th:each="shipType : ${realShipType.value}">
                                            <span th:text="${global.get(IDS + shipType.key)}"></span>
                                            <ul class="dropdown_sub">
                                                <th:block th:each="tier : ${shipType.value}">
                                                    <li th:each="ship : ${tier.value}">
                                                        <a th:href="'/ship?index=' + ${ship.index}">
                                                            <span th:text="${tier.key + ' - ' + global.get(IDS + ship.index.toUpperCase() + '_FULL')}"
                                                                  th:attr="data-nation=${nation.key}, data-shipType=${realShipType.key}, data-ship=${ship.index}"></span>
                                                        </a>
                                                    </li>
                                                </th:block>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </th:block>
                </ul>
            </nav>
        </div>
    </div>
</div>
<div class="main">
    <th:block th:replace="Joint/shipSelect :: warshipStats"></th:block>
    <div th:replace="bottom :: bottom"></div>
</div>
<script src="https://cdn.wowsft.com/js/angle/aa.js"></script>
<script src="https://cdn.wowsft.com/js/angle/arty.js"></script>
<script src="https://cdn.wowsft.com/js/angle/torp.js"></script>
<script src="https://cdn.wowsft.com/js/common.js"></script>
<script src="https://cdn.wowsft.com/js/pages/touch.js?20191224"></script>
<script src="https://cdn.wowsft.com/js/pages/ship.js?20191224"></script>
</body>
</html>