<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<nav th:fragment="top" class="link">
    <ul>
        <li>
            <a th:href="${'/?lang=' + lang}"><span>Home</span></a>
        </li>
        <li>
            <a th:href="${'/ship?lang=' + lang}"><span th:text="${trans.get('FittingTool')}">Fitting Tool</span></a>
        </li>
        <li>
            <a th:href="${'/arty?lang=' + lang}"><span th:text="${trans.get('ArtilleryChart')}">Artillery Chart</span></a>
        </li>
        <li>
            <a th:href="${'/research?lang=' + lang}"><span th:text="${trans.get('ResearchXp')}">Research XP</span></a>
        </li>
    </ul>
</nav>
</body>
</html>