<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<th:block th:fragment="angleSectorAirDefense">
    <script th:inline="javascript" data-script="airDefenseSector">
    //    <![CDATA[

        $(function () {
            var curIndex = [[${index}]];
            drawAirDefense($('[data-ship-index=' + curIndex + ']'), [[${warship.auraFar}]], [[${warship.auraMedium}]], [[${warship.auraNear}]])
        });

    //    ]]>
    </script>
    <div title="Air Defense Sector">
        <canvas data-type="airDefenseCanvas" width="200" height="200">
        </canvas>
    </div>
</th:block>
</body>
</html>
