<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<th:block th:fragment="warshipStats">
    <div id="notification" style="text-align: center;" th:if="${single and warship == null}">
        <br /><br />
        <strong th:unless="${lang == 'ko'}">Click on a ship for fitting.</strong>
        <strong th:if="${lang == 'ko'}">함선 선택</strong>
    </div>
    <div class="ship" th:attr="data-ship-index=${warship.index}, data-ship-position=${single ? '0' : dataIndex}" th:if="${warship != null}">
        <div class="name" style="display: block;">
            <div th:if="${warship.research and warship.prevShipIndex != null}" style="display: inline-block;">
                <a style="padding: 0; margin: 0;" th:href="${'/ship?index=' + warship.prevShipIndex.toUpperCase()}">
                    <img style="width: 72px;" th:src="'https://cdn.wowsft.com/images/vehicles/ship_previews/' + ${warship.prevShipIndex} + '.png'" /><br />
                    <span style="font-size: 12px;" th:text="${global.get(IDS + warship.prevShipIndex.toUpperCase() + '_FULL')}"></span>
                </a>
            </div>
            <div style="display: inline-block;">
                <img th:src="${warship.typeImage}"/><br />
                <strong style="font-size: 1em;" th:text="${global.get(IDS + warship.typeinfo.nation.toUpperCase()) + ' ' + global.get(IDS + warship.typeinfo.species.toUpperCase())}"></strong><br /><br />
                <strong style="font-size: 2em;" th:text="${global.get(IDS + warship.index.toUpperCase() + '_FULL')}"></strong><br />
                <img th:title="${global.get(IDS + warship.index +'_DESCR')}" th:src="${warship.imageSmall}" />
            </div>
            <div th:if="${warship.research and warship.shipUpgradeInfo.components.?[value.?[nextShips != null and nextShips.size() > 0].size() > 0].size() > 0}" style="display: inline-block;">
                <th:block th:each="comp : ${warship.shipUpgradeInfo.components.?[value.?[nextShips != null and nextShips.size() > 0].size() > 0]}">
                    <th:block th:each="module : ${comp.value}" th:if="${module.nextShips != null and module.nextShips.size() > 0}">
                        <th:block th:each="nShipName : ${module.nextShips}" th:with="nIndex=${#strings.substring(nShipName, 0, 7)}">
                            <a style="padding: 0; margin: 0;" th:href="${'/ship?index=' + nIndex.toUpperCase()}">
                                <img style="width: 72px;" th:src="'https://cdn.wowsft.com/images/vehicles/ship_previews/' + ${nIndex} + '.png'" /><br />
                                <span style="font-size: 12px;" th:text="${global.get(IDS + nIndex + '_FULL')}"></span>
                            </a>
                        </th:block>
                    </th:block>
                </th:block>
            </div>
        </div>
        <br />
        <div class="info_box">
            <div class="info_box_inner">
                <div class="panel_left" data-type="modules">
                    <table>
                        <tbody>
                            <th:block th:each="i : ${#numbers.sequence(1, warship.shipUpgradeInfo.maxRows)}">
                                <tr th:if="${i > 1 and warship.shipUpgradeInfo.maxRows >= i}">
                                    <th:block th:each="col : ${warship.shipUpgradeInfo.cols}" th:if="${col.value > 0}">
                                        <th:block th:with="mods=${warship.shipUpgradeInfo.components.get(col.key).?[position == __${i}__]}">
                                            <td th:if="${colStat.index > 2}" style="width: 7px;"></td>
                                            <td th:each="module : ${mods}">
                                                <img th:if="${module.prevType == module.ucTypeShort and module.prevPosition > 0}" src="https://cdn.wowsft.com/images/Icon/down.png" />
                                            </td>
                                            <td th:each="j : ${#numbers.sequence(1, col.value - mods.size())}" th:if="${col.value > mods.size()}"></td>
                                            <td th:if="${2 > colStat.index}" style="width: 7px;"></td>
                                        </th:block>
                                    </th:block>
                                </tr>
                                <tr>
                                    <th:block th:each="col : ${warship.shipUpgradeInfo.cols}" th:if="${col.value > 0}">
                                        <th:block th:with="mods=${warship.shipUpgradeInfo.components.get(col.key).?[position == __${i}__]}">
                                            <td th:if="${mods.size() == 0 and colStat.index > 2}" style="width: 7px;"></td>
                                            <td th:each="module : ${mods}" th:if="${moduleStat.index == 0 and colStat.index > 2}" style="width: 7px;">
                                                <img th:if="${module.prevType != module.ucTypeShort and module.prevPosition == module.position}" src="https://cdn.wowsft.com/images/Icon/right.png" />
                                            </td>
                                            <td th:each="module : ${mods}">
                                                <button th:class="'button_module'"
                                                        th:classappend="${module.position == warship.positions.get(module.ucTypeShort) ? 'select' : ''}"
                                                        th:attr="data-index=${colStat.index}, data-type=${module.ucTypeShort}, data-position=${module.position},
                                                                 data-prev-type=${module.prevType}, data-prev-position=${module.prevPosition}, data-temp-position=${moduleStat.index}">
                                                    <img th:src="${module.image}" /><br />
                                                    <span th:text="${global.get(IDS + module.name.toUpperCase())}"></span>
                                                </button>
                                            </td>
                                            <td th:each="j : ${#numbers.sequence(1, col.value - mods.size())}" th:if="${col.value > mods.size()}"></td>
                                            <td th:if="${mods.size() == 0 and 2 > colStat.index}" style="width: 7px;"></td>
                                            <td th:each="module : ${mods}" th:if="${2 > colStat.index}" style="width: 7px;">
                                                <img th:if="${module.prevType != module.ucTypeShort and module.prevPosition == module.position}" src="https://cdn.wowsft.com/images/Icon/left.png" />
                                                <img th:if="${i > 1 and warship.shipUpgradeInfo.components.get('hull').size() >= i
                                                              and 2 > warship.shipUpgradeInfo.components.get('hull').get(i - 1).prevElem
                                                              and warship.shipUpgradeInfo.components.get('hull').get(i - 1).position > 1}"
                                                     src="https://cdn.wowsft.com/images/Icon/right.png" />
                                            </td>
                                        </th:block>
                                    </th:block>
                                </tr>
                            </th:block>
                        </tbody>
                    </table>
                </div>
                <div class="panel_left" data-type="upgrades" th:with="selection=${warship.selectUpgrades}">
                    <ul th:each="slot : ${warship.upgrades}">
                        <li>
                            <button class="button_upgrade" th:classappend="${selection .size() == 0 or selection.get(slotStat.index) == 0 ? 'select' : 'hide'}"
                                    th:attr="data-index=${slotStat.index}, data-position=${0}">+</button>
                        </li>
                        <li th:each="upgrade : ${slot}">
                            <button th:class="'button_upgrade'" th:classappend="${selection.size() > 0 and selection.get(slotStat.index) == upgradeStat.index + 1 ? 'select' : 'hide'}"
                                    th:attr="data-index=${slotStat.index}, data-position=${upgradeStat.index + 1}">
                                <img th:src="${upgrade.image}" />
                                <table class="tooltip">
                                    <tbody>
                                    <tr><td colspan="2"><th:block th:utext="${global.get(IDS + 'TITLE_' + upgrade.name.toUpperCase())}"></th:block></td></tr>
                                    <tr><td colspan="2">&nbsp;</td></tr>
                                    <tr><td colspan="2"><th:block th:utext="${#strings.replace(global.get(IDS + 'DESC_' + upgrade.name.toUpperCase()), '&#10', '<br />')}"></th:block></td></tr>
                                    <th:block th:each="b : ${upgrade.bonus}" th:with="desc=${global.get(IDS + b.key) != null ? global.get(IDS + b.key) : global.get(IDS + b.key + '_MODERNIZATION')}">
                                        <tr th:if="${desc != null}" class="tooltip_desc">
                                            <td th:utext="${desc}"></td>
                                            <td th:utext="${b.value}"></td>
                                        </tr>
                                    </th:block>
                                    </tbody>
                                </table>
                            </button>
                        </li>
                    </ul>
                </div>
                <div class="panel_left" data-type="crewSkills" th:replace="Joint/crewSkills :: crewSkills"></div>
            </div>
            <th:block th:replace="Joint/rightInfo :: rightInfo"></th:block>
        </div>
    </div>
</th:block>
</body>
</html>