body
{
    margin: 0px;
    background: white;
}

li
{
    list-style-type: none;
    margin: 4px 0;
}

a
{
    text-decoration: none;
}

#top
{
    /*text-align:center;*/
    overflow: hidden;
    position: relative;
    background: lightblue;
    top: 0;
    /*height: 34px;*/
    width: 100%;
    z-index: 1;
    /*padding: 8px;*/
}

#shipsList
{
    position: relative;
    width: 100%;
}

nav {
    margin: 0px 0px 0px;
    background-color: lightblue;
    cursor: pointer;
}

nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative;
}

nav ul li {
    display:inline-block;
    background-color: lightblue;
    margin: 0px;
}

nav a {
    display:block;
    padding:0 10px;
    color:black;
    font-size:16px;
    line-height: 32px;
    text-decoration:none;
}

nav a:hover {
    background-color: deepskyblue;
    cursor: pointer;
}

nav span {
    display:block;
    padding:0 10px;
    color:black;
    font-size:16px;
    line-height: 32px;
    text-decoration:none;
}

nav span:hover {
    background-color: deepskyblue;
    cursor: pointer;
}

/* Hide Dropdowns by Default */
nav ul ul {
    display: none;
    position: absolute;
    top: 32px; /* the height of the main nav */
}

/* Display Dropdowns on Hover */
nav ul li:hover > ul {
    display:inherit;
    cursor: pointer;
}

/* Fisrt Tier Dropdown */
nav ul ul li {
    width:100px;
    float:none;
    display:list-item;
    position: relative;
}

/* Second, Third and more Tiers	*/
nav ul ul ul li {
    width:200px;
    position: relative;
    top:-32px;
    left:100px;
    margin: 0px;
}


/* Change this in order to change the Dropdown symbol */
/*li > a:after { content:  ' +'; }*/
/*li > a:only-child:after { content: ''; }*/

#ship
{
    text-align: center;
}

#modulesUpgradesConsumables
{
    text-align: center;
    vertical-align: top;
}

#modulesUpgradesConsumables div
{
    text-align: center;
    vertical-align: top;
}

#skillsFlags div
{
    display: inline-block;
    text-align: center;
    vertical-align: top;
}

#modules
{
    display: inline-block;
    text-align: center;
}

#upgrades
{
    display: inline-block;
    text-align: center;
    vertical-align: top;
}

.button_module
{
    background-color:#fff;
    text-align: center;
    border-color: rgb(0,0,0);
    border-width: 0px;
    border-style: solid;
    border-radius: 5px;
    font-size: 9px;
    min-width: 100px;
    max-width: 100px;
    min-height: 100px;
    max-height: 100px;
    word-wrap: normal;
    cursor: pointer;
    vertical-align: top;
}

.button_module img
{
    width: 30px;
    margin-bottom: 0px;
}

.button_module_selected
{
    background-color:#fff;
    text-align: center;
    border-color: rgb(256,0,0);
    border-width: 1px;
    border-style: solid;
    border-radius: 5px;
    font-size: 9px;
    min-width: 100px;
    max-width: 100px;
    min-height: 100px;
    max-height: 100px;
    word-wrap: normal;
    cursor: pointer;
    vertical-align: top;
}

.button_module_selected img
{
    width: 40px;
    margin-bottom: 0px;
}

.button_upgrade
{
    background-color:#fff;
    text-align: center;
    border-color: rgb(0,0,0);
    border-width: 0px;
    border-style: solid;
    border-radius: 5px;
    font-size: 9px;
    min-width: 100px;
    max-width: 100px;
    min-height: 100px;
    max-height: 100px;
    word-wrap: normal;
    cursor: pointer;
    vertical-align: top;
}

.button_upgrade img
{
    width: 30px;
    margin-bottom: 0px;
}

.button_upgrade_selected
{
    background-color:#fff;
    text-align: center;
    border-color: rgb(256,0,0);
    border-width: 1px;
    border-style: solid;
    border-radius: 5px;
    font-size: 9px;
    min-width: 100px;
    max-width: 100px;
    min-height: 100px;
    max-height: 100px;
    word-wrap: normal;
    cursor: pointer;
    vertical-align: top;
}

.button_upgrade_selected img
{
    width: 30px;
    margin-bottom: 0px;
}

.shipAPIData
{
    text-align: center;
}

#hullStats
{
    display: inline-block;
    text-align: center;
    vertical-align: text-top;
    padding: 0 15px;
}
#mainWeaponStats
{
    display: inline-block;
    text-align: center;
    vertical-align: text-top;
    padding: 0 15px;
}
#AASecondaryStats
{
    display: inline-block;
    text-align: center;
    vertical-align: text-top;
    padding: 0 15px;
}
.blank
{
    display: inline-block;
    text-align: center;
    vertical-align: text-top;
    padding-left: 4em;
}

.button_ship
{
    background-color:#fff;
    text-align: center;
    border-color: rgb(0,0,0);
    border-width: 0px;
    border-style: solid;
    border-radius: 5px;
    font-size: 9px;
    min-width: 100px;
    max-width: 100px;
    min-height: 100px;
    max-height: 100px;
    word-wrap: normal;
    cursor: pointer;
    vertical-align: top;
}

.button_ship img
{
    width: 70px;
    margin-bottom: 0px;
}

.button_skill
{
    background-color:#fff;
    text-align: center;
    border-color: rgb(0,0,0);
    border-width: 0px;
    border-style: solid;
    border-radius: 5px;
    font-size: 9px;
    min-width: 100px;
    max-width: 100px;
    min-height: 100px;
    max-height: 100px;
    word-wrap: normal;
    cursor: pointer;
    vertical-align: top;
}

.button_skill img
{
    width: 25px;
    margin-bottom: 0px;
}

.button_skill.select
{
    background-color:#fff;
    text-align: center;
    border-color: rgb(256,0,0);
    border-width: 1px;
    border-style: solid;
    border-radius: 5px;
    font-size: 9px;
    min-width: 100px;
    max-width: 100px;
    min-height: 100px;
    max-height: 100px;
    word-wrap: normal;
    cursor: pointer;
    vertical-align: top;
}

.button_skill.select img
{
    width: 30px;
    margin-bottom: 0px;
}

.button_uSkill
{
    background-color:#fff;
    text-align: center;
    border-color: rgb(0,0,0);
    border-width: 0px;
    border-style: solid;
    border-radius: 5px;
    font-size: 9px;
    min-width: 100px;
    max-width: 100px;
    min-height: 100px;
    max-height: 100px;
    word-wrap: normal;
    cursor: pointer;
    vertical-align: top;
}

.button_uSkill img
{
    width: 25px;
    margin-bottom: 0px;
}

.button_uSkill_selected
{
    background-color:#fff;
    text-align: center;
    border-color: rgb(256,0,0);
    border-width: 1px;
    border-style: solid;
    border-radius: 5px;
    font-size: 9px;
    min-width: 100px;
    max-width: 100px;
    min-height: 100px;
    max-height: 100px;
    word-wrap: normal;
    cursor: pointer;
    vertical-align: top;
}

.button_uSkill_selected img
{
    width: 30px;
    margin-bottom: 0px;
}

.button_flag
{
    background-color:#fff;
    text-align: center;
    border-color: rgb(0,0,0);
    border-width: 0px;
    border-style: solid;
    border-radius: 5px;
    font-size: 9px;
    min-width: 100px;
    max-width: 100px;
    min-height: 100px;
    max-height: 100px;
    word-wrap: normal;
    cursor: pointer;
    vertical-align: top;
}

.button_flag img
{
    width: 25px;
    margin-bottom: 0px;
}

.button_flag_selected
{
    background-color:#fff;
    text-align: center;
    border-color: rgb(256,0,0);
    border-width: 1px;
    border-style: solid;
    border-radius: 5px;
    font-size: 9px;
    min-width: 100px;
    max-width: 100px;
    min-height: 100px;
    max-height: 100px;
    word-wrap: normal;
    cursor: pointer;
    vertical-align: top;
}

.button_flag_selected img
{
    width: 30px;
    margin-bottom: 0px;
}

.button_consumable
{
    background-color:#fff;
    text-align: center;
    border-color: rgb(0,0,0);
    border-width: 0px;
    border-style: solid;
    border-radius: 5px;
    /*font-size: 10px;*/
    min-width: 60px;
    max-width: 60px;
    min-height: 60px;
    max-height: 60px;
    word-wrap: normal;
    cursor: pointer;
    vertical-align: top;
}

.button_consumable img
{
    /*width: 25px;*/
    margin-bottom: 0px;
}

.button_consumable_selected
{
    background-color:#fff;
    text-align: center;
    border-color: rgb(256,0,0);
    border-width: 1px;
    border-style: solid;
    border-radius: 5px;
    /*font-size: 10px;*/
    min-width: 60px;
    max-width: 60px;
    min-height: 60px;
    max-height: 60px;
    word-wrap: normal;
    cursor: pointer;
    vertical-align: top;
}

.button_consumable_selected img
{
    /*width: 35px;*/
    margin-bottom: 0px;
}


#crewSkills
{
    position: relative;
}

#flags
{
    position: relative;
}

.shipTree
{
    display: inline-block;
    text-align: center;
    vertical-align: top;
}

.button_ship_tree
{
    background-color:#fff;
    text-align: center;
    border-color: rgb(0,0,0);
    border-width: 0px;
    border-style: solid;
    border-radius: 5px;
    font-size: 8px;
    min-width: 120px;
    max-width: 120px;
    min-height: 100px;
    max-height: 100px;
    word-wrap: normal;
    cursor: pointer;
    vertical-align: top;
    margin: 2px;
}

.button_ship_tree img
{
    width: 100px;
    margin-bottom: 0px;
}

.button_nation
{
    background-color:#fff;
    text-align: center;
    border-color: rgb(0,0,0);
    border-width: 0px;
    border-style: solid;
    border-radius: 5px;
    font-size: 8px;
    /*min-width: 140px;*/
    /*max-width: 140px;*/
    /*min-height: 140px;*/
    /*max-height: 140px;*/
    word-wrap: normal;
    cursor: pointer;
    vertical-align: top;
    margin: 2px;
}

.button_nation img
{
    /*width: 120px;*/
    margin-bottom: 0px;
}

.button_ship_tree_empty
{
    background-color:#fff;
    text-align: center;
    border-color: rgb(256,0,0);
    border-width: 0px;
    border-style: solid;
    border-radius: 5px;
    font-size: 8px;
    min-width: 120px;
    max-width: 120px;
    min-height: 100px;
    max-height: 100px;
    word-wrap: normal;
    cursor: pointer;
    vertical-align: top;
    margin: 2px;
}

.button_ship_tree_selected
{
    background-color:#fff;
    text-align: center;
    border-color: rgb(256,0,0);
    border-width: 1px;
    border-style: solid;
    border-radius: 5px;
    font-size: 8px;
    min-width: 120px;
    max-width: 120px;
    min-height: 100px;
    max-height: 100px;
    word-wrap: normal;
    cursor: pointer;
    vertical-align: top;
    margin: 2px;
}

.button_ship_tree_selected img
{
    width: 100px;
    margin-bottom: 0px;
}

#consumablesData
{
    display: inline-block;
    text-align: center;
    vertical-align: top;
}

.consumables
{
    display: inline-block;
    /*text-align: left;*/
    vertical-align: top;
    font-size: 12px;
}

#consumablesData img
{
    text-align: center;
    width: 40px;
    margin-bottom: 0px;
}

#notification
{
    text-align: center;
}

.button_module_1
{
    background-color:#fff;
    text-align: center;
    border-color: rgb(0,0,0);
    border-width: 0px;
    border-style: solid;
    border-radius: 5px;
    font-size: 9px;
    min-width: 80px;
    max-width: 80px;
    min-height: 80px;
    max-height: 80px;
    word-wrap: normal;
    cursor: pointer;
    vertical-align: top;
}

.button_module_1 img
{
    width: 30px;
    margin-bottom: 0px;
}

.button_module_selected_1
{
    background-color:#fff;
    text-align: center;
    border-color: rgb(256,0,0);
    border-width: 1px;
    border-style: solid;
    border-radius: 5px;
    font-size: 9px;
    min-width: 80px;
    max-width: 80px;
    min-height: 80px;
    max-height: 80px;
    word-wrap: normal;
    cursor: pointer;
    vertical-align: top;
}

.button_module_selected_1 img
{
    width: 40px;
    margin-bottom: 0px;
}

.button_upgrade_1
{
    background-color:#fff;
    text-align: center;
    border-color: rgb(0,0,0);
    border-width: 0px;
    border-style: solid;
    border-radius: 5px;
    font-size: 9px;
    min-width: 80px;
    max-width: 80px;
    min-height: 80px;
    max-height: 80px;
    word-wrap: normal;
    cursor: pointer;
    vertical-align: top;
}

.button_upgrade_1 img
{
    width: 30px;
    margin-bottom: 0px;
}

.button_upgrade_selected_1
{
    background-color:#fff;
    text-align: center;
    border-color: rgb(256,0,0);
    border-width: 1px;
    border-style: solid;
    border-radius: 5px;
    font-size: 9px;
    min-width: 80px;
    max-width: 80px;
    min-height: 80px;
    max-height: 80px;
    word-wrap: normal;
    cursor: pointer;
    vertical-align: top;
}

.button_upgrade_selected_1 img
{
    width: 30px;
    margin-bottom: 0px;
}

.button_module_2
{
    background-color:#fff;
    text-align: center;
    border-color: rgb(0,0,0);
    border-width: 0px;
    border-style: solid;
    border-radius: 5px;
    font-size: 9px;
    min-width: 80px;
    max-width: 80px;
    min-height: 80px;
    max-height: 80px;
    word-wrap: normal;
    cursor: pointer;
    vertical-align: top;
}

.button_module_2 img
{
    width: 30px;
    margin-bottom: 0px;
}

.button_module_selected_2
{
    background-color:#fff;
    text-align: center;
    border-color: rgb(256,0,0);
    border-width: 1px;
    border-style: solid;
    border-radius: 5px;
    font-size: 9px;
    min-width: 80px;
    max-width: 80px;
    min-height: 80px;
    max-height: 80px;
    word-wrap: normal;
    cursor: pointer;
    vertical-align: top;
}

.button_module_selected_2 img
{
    width: 40px;
    margin-bottom: 0px;
}

.button_upgrade_2
{
    background-color:#fff;
    text-align: center;
    border-color: rgb(0,0,0);
    border-width: 0px;
    border-style: solid;
    border-radius: 5px;
    font-size: 9px;
    min-width: 80px;
    max-width: 80px;
    min-height: 80px;
    max-height: 80px;
    word-wrap: normal;
    cursor: pointer;
    vertical-align: top;
}

.button_upgrade_2 img
{
    width: 30px;
    margin-bottom: 0px;
}

.button_upgrade_selected_2
{
    background-color:#fff;
    text-align: center;
    border-color: rgb(256,0,0);
    border-width: 1px;
    border-style: solid;
    border-radius: 5px;
    font-size: 9px;
    min-width: 80px;
    max-width: 80px;
    min-height: 80px;
    max-height: 80px;
    word-wrap: normal;
    cursor: pointer;
    vertical-align: top;
}

.button_upgrade_selected_2 img
{
    width: 30px;
    margin-bottom: 0px;
}

.button_ship_comparison
{
    background-color:#fff;
    text-align: center;
    border-color: rgb(0,0,0);
    border-width: 0px;
    border-style: solid;
    border-radius: 5px;
    font-size: 14px;
    min-width: 230px;
    max-width: 230px;;
    min-height: 230px;
    max-height: 230px;
    word-wrap: normal;
    cursor: pointer;
    vertical-align: top;
}

.button_consumable_1
{
    background-color:#fff;
    text-align: center;
    border-color: rgb(0,0,0);
    border-width: 0px;
    border-style: solid;
    border-radius: 5px;
    /*font-size: 10px;*/
    min-width: 60px;
    max-width: 60px;
    min-height: 60px;
    max-height: 60px;
    word-wrap: normal;
    cursor: pointer;
    vertical-align: top;
}

.button_consumable_1 img
{
    width: 35px;
    margin-bottom: 0px;
}

.button_consumable_selected_1
{
    background-color:#fff;
    text-align: center;
    border-color: rgb(256,0,0);
    border-width: 1px;
    border-style: solid;
    border-radius: 5px;
    /*font-size: 10px;*/
    min-width: 60px;
    max-width: 60px;
    min-height: 60px;
    max-height: 60px;
    word-wrap: normal;
    cursor: pointer;
    vertical-align: top;
}

.button_consumable_selected_1 img
{
    width: 45px;
    margin-bottom: 0px;
}

.button_consumable_2
{
    background-color:#fff;
    text-align: center;
    border-color: rgb(0,0,0);
    border-width: 0px;
    border-style: solid;
    border-radius: 5px;
    /*font-size: 10px;*/
    min-width: 60px;
    max-width: 60px;
    min-height: 60px;
    max-height: 60px;
    word-wrap: normal;
    cursor: pointer;
    vertical-align: top;
}

.button_consumable_2 img
{
    width: 35px;
    margin-bottom: 0px;
}

.button_consumable_selected_2
{
    background-color:#fff;
    text-align: center;
    border-color: rgb(256,0,0);
    border-width: 1px;
    border-style: solid;
    border-radius: 5px;
    /*font-size: 10px;*/
    min-width: 60px;
    max-width: 60px;
    min-height: 60px;
    max-height: 60px;
    word-wrap: normal;
    cursor: pointer;
    vertical-align: top;
}

.button_consumable_selected_2 img
{
    width: 45px;
    margin-bottom: 0px;
}