<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="bottom" class="bottom-fix">
    <span>
        Contact EdibleBug on Reddit for service related issues.<br /><br />
        All copyright materials provided by Wargaming.net are owned by Wargaming.net.<br />
        If you do not acknowledge this, please refrain from using the service.<br />
        I am not responsible for any problems that may occur by using this service.<br /><br />
        Copyright otherwise not specified are part of WoWSFT, and they are available under MIT license.
    </span>
</div>
</html>