<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
            new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-5KDG7W6');</script>
    <!-- End Google Tag Manager -->
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <meta charset="utf-8" />
    <link rel="icon" href="https://cdn.wowsft.com/images/Icon/WoWSFT_Icon.png" />
    <link rel="stylesheet" type="text/css" href="https://cdn.wowsft.com/css/WoWSFT.css?20190816" />
    <link rel="stylesheet" type="text/css" href="https://cdn.wowsft.com/css/misc.css?20191224" />
    <meta name="viewport" content="width=device-width, initial-scale=0.5, user-scalable=yes" />
    <script src="https://cdn.wowsft.com/js/jquery/jquery-3.3.1.min.js"></script>
    <title>WoWS Fitting Tool</title>
</head>
<body>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5KDG7W6"
                  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
<header>
    <div class="top"><div th:replace="top :: top"></div></div>
</header>
<main>
    <div>
        <div id="notification">
            <img id="logo" src="https://cdn.wowsft.com/images/Icon/WoWSFT_Icon.png" /><br />
            <span th:text="${lang == 'ko' ? 'ReptorPi 제작' : 'Logo courtesy of ReptorPi from DCInside'}"></span><br /><br />
            <h2>WoWS 0.8.11.0</h2>
            <br /><br />
            <ul>
                <li th:if="${5 > noticeStat.index}" th:each="notice : ${notification}">
                    <strong th:text="${notice.key}"></strong><br />
                    <span th:utext="${notice.value}"></span><br /><br />
                </li>
            </ul>
        </div>
    </div>
    <br />
    <br />
    <div th:replace="bottom :: bottom"></div>
</main>
<script src="https://cdn.wowsft.com/js/pages/touch.js?20191224"></script>
</body>
</html>