<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<nav th:fragment="top" class="link">
    <ul>
        <li>
            <a th:href="${'/'}"><span>Home</span></a>
        </li>
        <li>
            <a th:href="${'/ship'}"><span>Fitting Tool</span></a>
        </li>
        <li>
            <a th:href="${'/arty'}"><span>Artillery Chart</span></a>
        </li>
        <li>
            <a th:href="${'/research'}"><span>Research XP</span></a>
        </li>
        <li>
            <a id="patreon" target="_blank" type="button" rel="noopener noreferrer" href="https://www.patreon.com/bePatron?u=27963691" role="button">
                <div>
                    <span>
                        <svg width="14" height="14" viewBox="0 0 569 546" xmlns="http://www.w3.org/2000/svg">
                            <g>
                                <circle fill="white" cx="362.589996" cy="204.589996" r="204.589996"></circle>
                                <rect fill="black" height="545.799988" width="100" x="0" y="0"></rect>
                            </g>
                        </svg>
                    </span>
                    <span>Become a patron</span>
                </div>
            </a>
        </li>
    </ul>
</nav>
</body>
</html>